/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/

*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  list-style: none;
}



html, body{
  width: 100%;
  height: 100%;
}

body{
background-color: #E5E5E5;
font-family: 'Roboto', sans-serif;
color: #3C4858;
font-size: 12px;
font-weight: 400;
min-height: 100%;
margin: 0;
}

header{
  width: 100%;
}

.conteiner{
width: 100%;
margin-right: auto;
margin-left: auto;
}

/*navigācija josla*/
.wrapper{
  margin: auto;
  color: #fff;
}

.main-nav {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
height: 67px;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
color: white;
background-color: #9C27B0;
}

.logo{
font-size: 18px;
padding: 0 2rem;
}

@media screen and (min-width: 1440px){
.logo {
   padding-left: 162px;
 }
}

.nav-links{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: distribute;
    justify-content: space-around;
margin-right: 20px;
 margin-bottom: 26px;
}

@media screen and (min-width: 1440px) {
.nav-links {
  margin-right: 165px;
}
}

.nav-links a{
color: #fff;
margin-top: 25px;
text-decoration: none;
list-style: none;
font-size: 16px;
display: block;
}

.nav-links a:hover{
color: #491052;
}

.nav-links a i{
 margin-right: 5px;
}

.burger{
display: none;
padding: 15px;
cursor: pointer;
}

.line{
height: 2px;
width: 20px;
margin: 0.4rem 0;
background: white;
-webkit-transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
-o-transition: transform 0.75s ease, opacity 0.75s ease;
transition: transform 0.75s ease, opacity 0.75s ease;
transition: transform 0.75s ease, opacity 0.75s ease, -webkit-transform 0.75s ease;
}

.main-nav.show .line1{
-webkit-transform: translate(-10px) rotate(45deg) translate(15px);
    -ms-transform: translate(-10px) rotate(45deg) translate(15px);
        transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2{
opacity: 0;
}
.main-nav.show .line3{
-webkit-transform: translate(-10px) rotate(-45deg) translate(15px);
    -ms-transform: translate(-10px) rotate(-45deg) translate(15px);
        transform: translate(-10px) rotate(-45deg) translate(15px);
}
.main-nav.show .nav-links{
-webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
        transform: translateX(0%);
}

@media screen and (max-width: 768px) {
.burger {
  display: block;
}

.nav-links{
  color: white;
  position: fixed;
  top: 5vh;
  right: 0;
  height: 40vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  background-color: #9C27B0;
 
}
}

.contact-page{
  color: #3C4858;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  line-height: 49px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.third-story{
  display: block;
  margin: 0 auto;
  max-width: 87%;
  font-size: 18px;
  font-weight: 300;
  color: #999999;
  text-align: center;
  height: 770px;
  border: 1px solid white;
  border-radius: 10px;
  background: white;
  padding: 12px;
  -webkit-box-shadow: 0px 0px 18px 2px rgba(75, 138, 185, 0.2);
          box-shadow: 0px 0px 18px 2px rgba(75, 138, 185, 0.2);
}

.paragraph{
padding-bottom: 30px;
}

@media screen and (min-width: 1440px){
.paragraph{
  margin-left: 280px;
  margin-top: 60px;
  margin-right: 280px;
}
}

/*Forma*/
.your-mail{
width: 350px;
margin: 11px auto 0;
font-size: 14px;
text-align: left;
background: #FFFFFF;
border: 10px solid transparent;
color: #999999;
}

@media screen and (min-width: 768px){
.your-mail{
  width: 696px;
}
}

@media screen and (min-width: 768px){
.your-mail{
  width: 696px;
}
}

.form-row{
margin-bottom: 40px;
}

.form-row input{
width: 100%;
line-height: 16px;
border-width: 0;
outline: none;
border-bottom: 1px solid #999999;
}

.form-row textarea{
width: 100%;
line-height: 16px;
border-width: 0;
outline: none;
border-bottom: 1px solid #999999;
}

.form-row textarea {
  background-attachment: local;
  background-repeat: repeat;
  resize: none;
}

/*Poga*/
.form-row input[type="submit"] {
width: 148px;
height: 41px;
margin-top: 10px;
background: #9C27B0;
border-width: 0;
border-radius: 5px;
cursor: pointer;
outline: none;
font-size: 14px;
color: white;
display: block;
margin: 0 auto;
}

.form-row input[type=submit]:hover {
background: #491052;
}

.contacts{
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  padding-bottom: 35px;
}

.contacts h3{
 color: #3C4858;
}

.icons{
  padding-bottom: 38px;
}

@media screen and (min-width: 1440px){
.icons{
  padding-bottom: 90px;
}
}

.icons i{
list-style: none;
text-decoration: none;
font-size: 63px;
margin-right: 14px;
color: #3C4858;
}

.footer-row{
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 14px;
  padding-top: 30px;
}

.footer-row nav{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   list-style: none;
   text-decoration: none;
}

@media screen and (min-width: 768px){
.footer-row nav{
    float: left;
    margin-left: 85px;
    margin-top: -10px;
    
}
}

@media screen and (min-width: 1440px){
.footer-row nav{
    margin-left: 150px;    
}
}

nav li a{
  list-style: none;
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

.powered{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 22px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px){
.powered{
    float: right;
    margin-right: 85px;
    margin-top: -35px;
}
}

@media screen and (min-width: 1440px){
.powered{
    margin-right: 150px;
}
}