/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/

*{
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
outline: 0;
text-decoration: none;
list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    background: white;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    color: #3C4858;
    font-size: 12px;
    font-weight: 400;
    min-height: 100%;
    margin: 0;
}

header{
    width: 100%;
}

.conteiner{
   width: 100%;
   margin-right: auto;
   margin-left: auto;
}

/*fona bilde*/

.header-wrapper{
    position: relative;
    max-height: 660px;
    background-image: url(../images/header-image-desktop.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;/*overlay >*/
    z-index: 0;
    -webkit-box-shadow: inset 0 0 0 200vw rgba(0, 0, 0, 0.4);
            box-shadow: inset 0 0 0 200vw rgba(0, 0, 0, 0.4);
}

/*navigācija josla*/
.wrapper{
    width: 100%;
    margin: auto;
    color: #fff;
}

  .main-nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   color: white;
   z-index: 0;
   -webkit-box-shadow: inset 0 0 0 67px rgba(3, 3, 3, 0.4);
           box-shadow: inset 0 0 0 67px rgba(3, 3, 3, 0.4);
}

 @media screen and (min-width: 1440px){
   .main-nav {
      z-index: none;
       -webkit-box-shadow: none;
               box-shadow: none;
    }
}

 .logo{
   font-size: 18px;
   padding-left: 36px;
}

@media screen and (min-width: 1440px){
   .logo{
      padding-left: 170px;
   }
}

 .nav-links{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
        justify-content: space-around;
   background-color: grey;
   margin-right: 20px;
   margin-bottom: 26px;
}

@media screen and (min-width: 768px){
   .nav-links{
       background-color: transparent;
   }
}

@media screen and (min-width: 1440px){
   .nav-links{
     margin-right: 165px;
   }
}

 .nav-links a{
   color: #fff;
   margin-top: 25px;
   text-decoration: none;
   font-size: 16px;
   display: block;
}

 .nav-links a:hover{
   color: #8f1a12;
}


 .nav-links a i{
    margin-right: 5px;
}

 .burger{
   display: none;
   padding: 15px;
   cursor: pointer;
}

 .line{
   height: 2px;
   width: 20px;
   margin: 0.4rem 0;
   background: white;
   -webkit-transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
   transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
   -o-transition: transform 0.75s ease, opacity 0.75s ease;
   transition: transform 0.75s ease, opacity 0.75s ease;
   transition: transform 0.75s ease, opacity 0.75s ease, -webkit-transform 0.75s ease;
}

 .main-nav.show .line1{
   -webkit-transform: translate(-10px) rotate(45deg) translate(15px);
       -ms-transform: translate(-10px) rotate(45deg) translate(15px);
           transform: translate(-10px) rotate(45deg) translate(15px);
}
 .main-nav.show .line2{
   opacity: 0;
 }
 .main-nav.show .line3{
   -webkit-transform: translate(-10px) rotate(-45deg) translate(15px);
       -ms-transform: translate(-10px) rotate(-45deg) translate(15px);
           transform: translate(-10px) rotate(-45deg) translate(15px);
}
 .main-nav.show .nav-links{
   -webkit-transform: translateX(0%);
       -ms-transform: translateX(0%);
           transform: translateX(0%);
}

@media screen and (max-width: 768px){
   .burger{
     display: block;
 }
   
   .nav-links{
     color: white;
     position: fixed;
     top: 5vh;
     right: 0;
     height: 40vh;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -ms-flex-pack: distribute;
         justify-content: space-around;
     -webkit-transform: translateX(100%);
         -ms-transform: translateX(100%);
             transform: translateX(100%);
     -webkit-transition: -webkit-transform 1s ease;
     transition: -webkit-transform 1s ease;
     -o-transition: transform 1s ease;
     transition: transform 1s ease;
     transition: transform 1s ease, -webkit-transform 1s ease;
   }
}
  
/*virsraksts*/
.intro-header{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 21px;
    margin-top: 186px;
    padding-bottom: 186px;
    padding-left: 24px;
    padding-right: 24px;
}

@media screen and (min-width: 768px){
   .intro-header{
      font-size: 18px;
      line-height: 24px;
 }
}

@media screen and (min-width: 768px){
   .intro-header{
      text-align: left;
      margin-left: 24px;
   }
}

@media screen and (min-width: 1440px){
   .intro-header{
      margin-left: 150px;
      margin-right: 500px;
   }
}

.head-wrapper h1{
    font-size: 42px;
    font-weight: 500;
    line-height: 55px;
}

@media screen and (min-width: 768px){
   .head-wrapper h1{
      font-size: 48px;
      line-height: 63px;
   }
}

   @media screen and (min-width: 768px){
      .head-wrapper h1{
         font-size: 53px;
         line-height: 70px;
   }
}

.intro-button button{
    height:54px;
    width:171px;
    background-color: #F44336;
    border: #F44336;
    border-radius: 5px;
}

.intro-button button:hover{
   background-color: #8f1a12;
}

 .intro-button button a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
 }

 .intro-button a i{
     width: 14px;
     height: 18px;
     font-size: 16px;
     color: white;
     margin-right: 5px;
 }

 /*Ko es iemācijos*/
 .story{
    display: block;
    margin: 0 auto;
    max-width: 90%;
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    padding: 12px;
    -webkit-box-shadow: 0px 0px 18px 2px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 0px 18px 2px rgba(34, 60, 80, 0.2);
}

.story{
    position: relative;
    top: -40px;
    z-index: 40;
}

@media screen and (min-width: 1440px){
   .me{
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 12px 1fr;
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 12px;
   }
}

@media screen and (min-width: 1440px){
   .photo{
      background-image: url(../images/florian-krumm-euZ2n8dGUcQ-unsplash.jpg);
      background-repeat: no-repeat;
      width: 320px;
      height: 418px;
      width: 100%;
      max-width: 50%;
      -webkit-box-shadow: -42px -41px 0px -5px rgba(34, 60, 80, 0.95);
box-shadow: -42px -41px 0px -5px rgba(34, 60, 80, 0.95);
margin-left: 200px;
margin-top: 90px;
margin-bottom: 90px;
   }  
}

@media screen and (min-width: 1440px){
.about{
   width: 100%;
   max-width: 50%;
   margin-left: 95px;
   margin-top: 60px;
   margin-bottom: 200px;
   }
}

@media screen and (min-width: 1440px){
   .me .post{
      font-size: 17px;
      font-weight: 400;
      line-height: 20px;
      width: 470px;
      height: 280px;
      text-align: left;
      margin-top: 100px;
      margin-right: 95px;
     
   }
}

@media screen and (min-width: 1440px){
   .me .post h2{
      font-size: 33px;
      font-weight: 400;
      line-height: 48px;
      width: 440px;
      height: 48px;
      margin-bottom: 30px;
   }
}

 .post{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 19px;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-left: 12px;
    padding-right: 12px;
}

 .post h2{
   font-size: 24px;
   font-weight: 400;
}

 .themes{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    padding-bottom: 60px;
    padding-left: 12px;
    padding-right: 12px;
}

 .themes{
   display: block;
   margin: 0 auto;
   list-style: none;
   text-decoration: none;
   text-align: center;
}

.themes h2{
   font-size: 24px;
   font-weight: 400;
   text-align: center;
   margin-bottom: 20px;
}

 @media screen and (min-width: 768px){
    .themes h2{
      width: 100%;
      font-size: 28px;
      margin-bottom: 30px;
   }
}

@media screen and (min-width: 1440px){
      .programms .themes h2{
         width: 100%;
         font-size: 36px;
         margin-top: 50px;
         margin-bottom: 40px;
      }
}

@media screen and (min-width: 1440px){
   .programms .themes p{
      margin-left: 10px;
      margin-right: 10px;
   }
}

.tittle h3{
   font-size: 20px;
   font-weight: 500;
   margin-top: 35px;
   margin-bottom: 18px;
}

@media screen and (min-width: 768px){
   .tittle{
      display: -ms-grid;
      display: grid;
  -ms-grid-columns: 1fr 12px 1fr 12px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 12px;
   }
}

 .image-html{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 70px;
    background-image: url(../images/html-logo-and-wordmark.jpg);
    background-position: center;
}

 .image-css{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 70px;
    background-image: url(../images/css-shield.jpg)
}

 .image-js{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 70px;
    background-image: url(../images/Javascript-shield.jpg)
}

 /*Mani darbi*/
 #works{
   font-size: 18px;
   font-weight: 500;
   text-align: left;
   line-height: 21px;
   padding-bottom: 50px;
   padding-left: 5px;
   padding-right: 12px;
   overflow: hidden;
}

 #works h2{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
    padding-bottom: 20px;
}

 @media screen and (min-width: 1440px){
   #works h2{
      font-size: 36px;
   }
}

.my-works{
   margin-left: 12px;
   margin-right: 12px;
}

@media screen and (min-width: 768px){
   .my-works{
      margin-left: 12px;
      margin-right: 20px;
   }
}

@media screen and (min-width: 1440px){
   .my-works{
      margin-left: 120px;
      margin-right: 120px;
   }
}

 .my-works a{
     text-decoration: none;
     color: #3C4858;;
}

 .my-works a:hover{
     color: #9C27B0;
}

 .my-works h3{
    text-align: left;
    margin-left: 15px;
}

 @media screen and (min-width: 768px){
   .my-works{
      display: -ms-grid;
      display: grid;
  -ms-grid-columns: (1fr)(2);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);  
   }
}

   @media screen and (min-width: 1440px){
      .my-works{
         display: -ms-grid;
         display: grid;
     -ms-grid-columns: (1fr)(3);
     grid-template-columns: repeat(3, 1fr);
     grid-auto-rows: minmax(100px, auto);   
   }
}

 .f-work{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    width: 355px;
    height: 190px;
    background-image: url(../images/web-design-mob.jpg);
}

 @media screen and (min-width: 768px){
   .f-work{
      width: 342px;
      margin-right: 3px;
   }
}

 .s-work{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    width: 355px;
    height: 190px;
    background-image: url(../images/web-design-mob.jpg);
}

 @media screen and (min-width: 768px){
   .s-work{
      width: 342px;
      margin-right: 3px;
   }
}

 .t-work{
   width: 100%;
    display: block;
    margin: 0 auto;
    width: 355px;
    height: 190px;
    background-image: url(../images/web-design-mob.jpg);
}

 @media screen and (min-width: 768px){
   .t-work{
      width: 342px;
      margin-right: 3px;
   }
}

 .fo-work{
   width: 100%;
    display: block;
    margin: 0 auto;
    width: 355px;
    height: 190px;
    background-image: url(../images/web-design-mob.jpg);
}

 @media screen and (min-width: 768px){
   .fo-work{
      width: 342px;
      margin-right: 3px;
   }
}


 .fi-work{
   width: 100%;
    display: block;
    margin: 0 auto;
    width: 355px;
    height: 190px;
    background-image: url(../images/web-design-mob.jpg);
}

 @media screen and (min-width: 768px){
   .fi-work{
      width: 342px;
      margin-right: 3px;
   }
}


 .six-work{
   width: 100%;
   display: block;
   margin: 0 auto;
   width: 355px;
   height: 190px;
   background-image: url(../images/web-design-mob.jpg);
}

@media screen and (min-width: 768px){
   .six-work{
      width: 342px;
      margin-right: 3px;
   }
}


 /*Kontakti*/
 .contacts{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
    padding-bottom: 35px;
}

 .contacts h3{
    margin-top: 50px;
    margin-bottom: 35px;
}

 @media screen and (min-width: 1440px){
  .contacts h3{
      margin-top: 90px;
   }
}
 
.icons{
    padding-bottom: 38px;
}

.icons i{
    list-style: none;
    text-decoration: none;
    font-size: 63px;
    margin-right: 14px;
    color: #3C4858;
}

.contacts button{
    height: 41px;
    width: 148px;
    background-color: #9C27B0;
    border: #9C27B0;
    border-radius: 5px;
}

.contacts button:hover{
   background-color: #560c63;
}

.contacts button a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 400;
}

 /*Footers*/
.footer-row{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 14px;
}

.footer-row nav{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-direction: row;
             flex-direction: row;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     list-style: none;
     text-decoration: none;
}

 
 @media screen and (min-width: 768px){
   .footer-row nav{
       float: left;
       margin-left: 85px;
       margin-top: -10px;
       
   }
}

@media screen and (min-width: 1440px){
   .footer-row nav{
       margin-left: 150px;    
   }
}

nav li a{
    list-style: none;
    text-decoration: none;
    color: black;
    margin-right: 30px;
}

.powered{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 22px;
    padding-bottom: 30px;
}

 @media screen and (min-width: 768px){
.powered{
       float: right;
       margin-right: 85px;
       margin-top: -35px;
   }
}

@media screen and (min-width: 1440px){
.powered{
       margin-right: 150px;
   }
}