/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/

*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  list-style: none;
}


html, body {
  width: 100%;
  height: 100%;
}

body{
  background: white;
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  color: #3C4858;
  font-size: 12px;
  font-weight: 400;
  min-height: 100%;
  margin: 0;
}

header{
  width: 100%;
}

.conteiner{
 width: 100%;
 margin-right: auto;
 margin-left: auto;
}

/*fona bilde*/

.header-wrapper{
  position: relative;
  max-height: 380px;
  background-image: url(../images/page-header-desktop.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  width: 100%;/*overlay >*/
  z-index: 0;
  -webkit-box-shadow: inset 0 0 0 200vw rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 0 200vw rgba(0, 0, 0, 0.4);
}

/*navigācija josla*/
.wrapper{
  margin: auto;
  height: 380px;
  color: #fff;
}

.main-nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 0;
  -webkit-box-shadow: inset 0 0 0 67px rgba(3, 3, 3, 0.4);
          box-shadow: inset 0 0 0 67px rgba(3, 3, 3, 0.4);
}

@media screen and (min-width: 1360px){
  .main-nav {
    z-index: none;
      -webkit-box-shadow: none;
              box-shadow: none;
  }
}

.logo{
  font-size: 18px;
  padding-left: 42px;
}

@media screen and (min-width: 1360px){
  .logo {
     padding-left: 162px;
}
}

.nav-links{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: grey;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px){
  .nav-links {
      background-color: transparent;
}
}

@media screen and (min-width: 1360px){
.nav-links {
  margin-right: 165px;
}
}

.nav-links a{
  color: #fff;
  margin-top: 25px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px){
  .nav-links a{
     margin-top: 25px;
     text-decoration: none;
     font-size: 16px;
     display: block;
     margin-right: 29px;
  }
}

.nav-links a:hover{
  color: #9C27B0;
}

.nav-links a i{
   margin-right: 5px;
}

.burger{
  display: none;
  padding: 15px;
  cursor: pointer;
  margin-right: 20px;
}

.line{
  height: 2px;
  width: 20px;
  margin: 0.4rem 0;
  background: white;
  -webkit-transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
  transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
  -o-transition: transform 0.75s ease, opacity 0.75s ease;
  transition: transform 0.75s ease, opacity 0.75s ease;
  transition: transform 0.75s ease, opacity 0.75s ease, -webkit-transform 0.75s ease;
}

.main-nav.show .line1{
  -webkit-transform: translate(-10px) rotate(45deg) translate(15px);
      -ms-transform: translate(-10px) rotate(45deg) translate(15px);
          transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2{
  opacity: 0;
}
.main-nav.show .line3{
  -webkit-transform: translate(-10px) rotate(-45deg) translate(15px);
      -ms-transform: translate(-10px) rotate(-45deg) translate(15px);
          transform: translate(-10px) rotate(-45deg) translate(15px);
}
.main-nav.show .nav-links{
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (max-width: 768px){
  .burger{
    display: block;
}

  .nav-links{
    color: white;
    position: fixed;
    top: 5vh;
    right: 0;
    height: 40vh;
    width: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}
}

/*-------*/
.next-story{
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 95%;
  border: 1px solid white;
  border-radius: 10px;
  background: white;
  padding: 12px;
  -webkit-box-shadow: 0px 0px 18px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 18px 2px rgba(34, 60, 80, 0.2);
}

@media screen and (min-width: 1360px){
  .next-story{
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.next-story{
  position: relative;
  top: -40px;
  z-index: 40;
}

.project-first{
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 50px;
  padding-left: 12px;
}

@media screen and (min-width: 768px){
  .project-first p{
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  width: 696px;
  height: 130px;
  }
}

@media screen and (min-width: 1360px){
  .project-first p{
  width: 900px;
  height: 96px;
}
}

.project-first .h1{
 font-size: 20px;
 font-family: 500;
 margin-bottom: 30px;
}

@media screen and (min-width: 768px){
  .project-first .h1{
  font-size: 36px;
  margin-bottom: 40px;
}
}

@media screen and (min-width: 1360px){
  .project-first .h1{
  font-size: 42px;
}
}

.project-image{
  background-image: url(../images/web-design-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  width: 355px;
  height: 230px;
  margin-bottom: 40px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 768px){
  .project-image{
      background-image: url(../images/web-design.jpg);
      width: 696px;
      height: 450px;
}
}

@media screen and (min-width: 1360px){
  .project-image{
      width: 900px;
      height: 600px;
}
}

.content{
  text-align: center;
  margin-bottom: 40px;
}

.content button{
  height: 21px;
  background-color: #9C27B0;
  border: #9C27B0;
  border-radius: 9px;
  margin-right: 6px;
}

.content button a{
  font-size: 10px;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  color: white;
}

.content button a:hover{
color: #491052;
}

.contact-button{
  text-align: center;
  margin-bottom: 40px;
}

.contact-button button{
  height: 41px;
  width: 148px;
  background-color: #9C27B0;
  border: #9C27B0;
  border-radius: 5px;
}

.contact-button button a{
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.contact-button button a:hover{
color: #491052;
}

.footer-row{
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 14px;
}

.footer-row nav{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   list-style: none;
   text-decoration: none;
}

@media screen and (min-width: 768px){
  .footer-row nav{
      float: left;
      margin-left: 85px;
      margin-top: -10px;
      
}
}

@media screen and (min-width: 1360px){
  .footer-row nav{
      margin-left: 150px;    
}
}

nav li a{
  list-style: none;
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

.powered{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 22px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px){
  .powered{
      float: right;
      margin-right: 85px;
      margin-top: -35px;
}
}

@media screen and (min-width: 1360px){
  .powered{
      margin-right: 150px;
}
}